[2018-12-17 17:13] pavlenex opened #6 "Improve readme"
The current readme is outdated. We should improve it.

[2018-12-18 00:13] britttttk opened #7 "Website doesn't create invoice matching user selection"
Issues when user selects values on the website. The invoice produced doesn't match user selection:

1. +/- Increment button is used
Input: User selects donation of $1
Result: Invoice is $2

2. Value field is used
Input: User types in any value
Result: Invoice is $5

[2018-12-18 00:22] vswee commented on #7
Working on it

[2018-12-18 00:53] #7 closed, assigned to nobody

[2018-12-18 07:44] zaowens opened #8 "redirect www"
www needs redirected properly

[2018-12-18 09:44] pavlenex commented on #8
Done.

[2018-12-18 09:44] #8 closed, assigned to nobody

[2018-12-18 09:44] pavlenex commented on #6
Done.

[2018-12-18 09:44] #6 closed, assigned to nobody

[2018-12-24 13:05] pavlenex opened #10 "Add Telegram, Rename the Wiki"
There's [BTCPay Telegram ](https://t.me/btcpayserver) that we should add to the Community section.
Furthermore, we should probably only have community group icon in a single row instead of the icon + text.

Also the Wiki should probably be renamed to Discourse.
So:
Slack icon | GitHub icon | Discourse Icon | Telegram Icon

[2018-12-31 10:13] #10 closed, assigned to nobody

[2019-01-03 22:23] britttttk opened #12 "Fix Spelling"
Github icon spelled incorrectly.

![image](https://user-images.githubusercontent.com/39231115/50664771-72981e80-0f6b-11e9-9c0f-a18144187dd5.png)

[2019-01-04 10:12] #12 closed, assigned to nobody

[2019-01-18 08:04] pavlenex opened #15 "Add Crowdfunding under features + demo"
We should add crowdfunding app to features section and add demo links somewhere.

[2019-01-21 17:26] pavlenex opened #16 "Remove references to Wiki"
BTCPay Wiki has been shut down, so we should remove the references to it on the website.

[2019-01-21 20:01] #16 closed, assigned to nobody

[2019-01-22 16:04] pavlenex opened #18 "Multilingual support"
We should have the main site in different languages. There's not really much to translate. Leaving this here for future and brainstorming.
I guess we should tackle it the same way we tackled other translations, via Transifex.
Tagging our experts @britttttk and @vswee for a brainstorm session.

[2019-01-26 11:59] pavlenex opened #19 "Update demo links"
I've trashed our old demo site, which will have broken links as a consequence in the next few days, until I came up with better way to showcase the features.

Assigning this to myself to fix. Leaving here as a reminder.

[2019-01-26 11:59] #15 closed, assigned to nobody

[2019-01-30 19:20] Tigerix opened #21 "Fix visual inconsistentency on front of webpage"
Size of fonts should equal header and body of the left box. Corner edges should be like the nice round once from the left side.
Boxes should have equal width on mobile.

<a href="https://ibb.co/R7c6qmZ"><img src="https://i.ibb.co/R7c6qmZ/75-DF3860-BB2-C-4826-B548-C4-B3-CA61041-F.jpg" alt="75-DF3860-BB2-C-4826-B548-C4-B3-CA61041-F" border="0"></a> <a href="https://ibb.co/9ZxTgdy"><img src="https://

[2019-01-31 23:17] #21 closed, assigned to nobody

[2019-02-11 23:16] Karem-sobhy commented on #18
i'm in for Arabic Translation but make rtl support pls :D

[2019-02-18 16:26] vswee commented on #18
@kemoantemo shoot me a message on mattermost (ed_flat18). I could use your help to make sure the rtl layout actually makes sense in your language. Demo site is getting RTL-ed.

[2019-02-19 20:55] pavlenex commented on #19
[Done](https://github.com/btcpayserver/btcpayserver.github.io/commit/66e2d0c053ac701c3062cee0cce85fba14aa2ec8).

[2019-02-19 20:55] #19 closed, assigned to pavlenex

[2019-03-04 07:01] britttttk opened #23 "Lightning Network Link doesn't go to LN page"
This link goes to the introduction page, instead of the Lightning Network page. (:

![image](https://user-images.githubusercontent.com/39231115/53715882-6831be00-3e10-11e9-9c0b-78797d9e3407.png)

[2019-03-04 16:38] #23 closed, assigned to nobody

[2019-04-26 17:31] pavlenex opened #28 "Donation Button"
Donations plunged since we removed them from the above the fold.
We should probably have `Donate` button next to the `Live Demo`.

[2019-04-27 04:24] vswee commented on #28
ICYMI: Interim changes to mainstream site live at [btcpayserver.flat18.co.uk](https://btcpayserver.flat18.co.uk/) and wild but not entirely useless stuff lives at [experimental-btcpayserver.flat18.co.uk](https://experimental-btcpayserver.flat18.co.uk/)

[2019-04-27 04:26] vswee commented on #18
Raw en-gb readout of website strings can be found at [here](https://experimental-btcpayserver.flat18.co.uk/resource/translation/en-gb.json) to help with translations.

[2019-04-29 20:17] britttttk opened #29 "Fix Spelling"
Should say: BTCPay Server :)
![image](https://user-images.githubusercontent.com/39231115/56924130-70f9e580-6a89-11e9-8420-5d815ea76aa6.png)

[2019-04-29 21:11] vswee commented on #29
Well spotted

[2019-04-29 21:11] #29 closed, assigned to nobody

[2019-05-09 17:36] #28 closed, assigned to nobody

[2019-05-17 15:06] pavlenex opened #30 "Change demo links"
Right now there is an ongoing migration of our demo servers where stores are hosted, so links will be broken and without properly set SSL.

My goal is to improve demos and add :
- Payment requests demo
- Crowdfunding demo
- Improved store demo
- Improved retail PoS demo

[2019-05-24 16:24] #30 closed, assigned to pavlenex

[2019-05-30 16:53] huey735 opened #31 "Correction and clarification on English strings"
To be corrected
- "Maximum privacy for you and your **customers.Running** a full node. No AML/KYC."

- "Having a technical question not covered in docs or want to help improve the code? Help us out on **GitHib**."

Suggestion
- "Bitcoin" shouldn't be capitalized when referring to the token ("They paid me in euros but I'd prefer bitcoins")

[2019-05-30 17:07] pavlenex commented on #31
Thanks, will address these.

Can you provide specific places where this happens?

[2019-05-30 17:13] huey735 commented on #31
- "Receive your Bitcoin and altcoin payments without any fees or third-party involvement. You are your own payment processor. Funds go directly to your wallet; your private key is never required."
- "Receive Bitcoin payments as a business or an individual. No fees. No third-party."
- "Your keys - Your Bitcoin. Private key never required for using BTCPay."

[2019-05-30 17:20] pavlenex commented on #31
Done in #32 thanks for reporting.

[2019-05-30 17:22] #31 closed, assigned to nobody

[2019-05-31 04:02] huey735 commented on #18
@vswee do you have a link to the demo of the site with the translations or a description of the process to implement it?

[2019-05-31 05:28] vswee commented on #18
@huey735 Demo site: https://btcpayserver.flat18.co.uk/
The JSON file at https://experimental-btcpayserver.flat18.co.uk/resource/translation/json/en.json
is generated from looping over the real elements on the demo site. ~~Every element is given a corresponding index to the string in the file and the translation script basically loops back over and replaces the strings from the translation files ac

[2019-06-02 12:36] pavlenex commented on #18
DONEEEE ❤️

[2019-06-02 12:36] #18 closed, assigned to nobody

[2019-06-02 12:38] pavlenex opened #33 "Add demo links in Footer"
- [ ] Add links to[ Payment request demo](https://mainnet.demo.btcpayserver.org/payment-requests/71cc2883-166c-4c46-8079-e595a251b43e)
- [ ] Add link to [Crowdfunding demo](https://btcpay.kukks.org/apps/pMb1bieuysP3MH2d2s9Yi11Pvb/crowdfund

Already done in #30 but reverted for translation reasons and to avoid over-complicating things for already translated languages.

![Screen Shot 2019-06-02 at 1

[2019-06-05 21:19] xsedivy opened #34 "All Letters In Upper Case"
The main page text "Start Accepting Bitcoin Payments With 0% Fees & No Third-Party" automatically change first letters to upper case in localized page versions. This might be OK in English but looks very silly for languages like Slovak a I believe many others

![UpperCase](https://user-images.githubusercontent.com/9197036/58991198-f0e14100-87e7-11e9-878b-37fe65e35416.png)

[2019-06-05 21:23] vswee commented on #34
Great feedback. Thanks for that @xsedivy

[2019-06-05 21:30] xsedivy opened #35 "Extra text "Lightning network""
There is extra text which is not present in source - looks like this is repro for all languages
![image](https://user-images.githubusercontent.com/9197036/58991967-d7d98f80-87e9-11e9-8801-b2e83e8f4484.png)

Everything looks good on Transifex

[2019-06-05 21:37] xsedivy opened #36 "Some languages without code"
![image](https://user-images.githubusercontent.com/9197036/58992297-bc22b900-87ea-11e9-8b18-a035c43912c9.png)

I think it might be better to either add language code for all languages or remove it everywhere. This way it looks strange...

[2019-06-05 21:42] vswee commented on #36
Again, great feedback. We’ll deffo take that on board and churn out some adjustments. Feel free to drop more feedback on the #website channel on chat.btcpayserver.org.

[2019-06-05 21:50] #34 closed, assigned to nobody

[2019-06-05 22:00] vswee commented on #36
Implemented in demo version https://btcpayserver.flat18.co.uk for review before being pushed to main site. Feel free to re-open if I've missed something or drop us a line on https://chat.btcpayserver.org

[2019-06-05 22:00] #36 closed, assigned to nobody

[2019-06-05 22:09] vswee commented on #35
Well spotted. It appears some translators have maintained the name "Lightning ...node ...network", etc. while others have translated it. This is may be a nuance in those languages and I'm not really able to determine if it's an error myself.

Please contribute to the translation effort if you can on https://www.transifex.com/btcpayserver/btcpayserver-website/ and get in touch with @britttttk on ht

[2019-06-05 22:09] #35 closed, assigned to nobody

[2019-06-05 22:11] xsedivy commented on #36
Looks good

[2019-06-05 22:21] xsedivy commented on #35
I think this is a different issue. It looks like English page text is just one resource, but in localized versions it is a combination of these two resources:

![image](https://user-images.githubusercontent.com/9197036/58994266-36a20780-87f0-11e9-9858-f4c50ef13348.png)

If you check other languages there is a missing full stop before last sentence almost for all languages - looks like just for tho

[2019-06-17 00:20] Karem-sobhy opened #37 "can we add coded with love at the end of copyright?"
i think it will be cute
BtcPay Server Coded for you with ❤ !

[2019-06-17 04:35] britttttk commented on #37
@kemoantemo You're saying in the footer of the website right?

I like the idea but perhaps more emphasis on the idea that everything is done by the community.
Also coders are not the only contributors :)

Maybe: BTCPay Server Community Created with ❤ !

[2019-06-17 04:45] Karem-sobhy commented on #37
Nice i like ur phrase more than mine

[2019-06-17 11:52] vswee commented on #37
`BTCPay Server Community Created with `❤` ! Website built with `⚡` by flat18.` might work too. After @britttttk works her semantic rewriting magic :)

[2019-06-17 12:11] pavlenex commented on #37
I don't see why we should add more strings for translators, imo it's good the way it is now. The least Ed deserves is a link back and a credit for all the work he's done on the website.

[2019-06-17 20:38] Karem-sobhy commented on #37
@pavlenex i didn't say that we should remove ed's credit he sure deserve it i said we can put it in the end of the credits and the copyright and it will not be much issue 1 more string and we even could leave it in English it's not something essential to translate

[2019-06-17 20:41] pavlenex commented on #37
Same, NACK from me as I visually already think our footer already has too much stuff going on.
![Screen Shot 2019-06-17 at 22 40 48](https://user-images.githubusercontent.com/36959754/59635242-02fca100-9151-11e9-875f-6fe9a61b52e0.png)

[2019-06-17 22:26] Karem-sobhy commented on #37
i don't see what is the problem to add a 1 new line in it and it's not even a problem that it have much stuff they are good ordered in widescreen and mobile screen so there is no harm of being too much stuff

[2019-06-17 23:18] vswee commented on #37
Let’s play around with the footer text on the playground site and hold off on asking the community to translate it on until there are more major strings changes to lump together. The idea being that we prudently limit the amount of requests we make to the amazing translators. I’m not for mixing any English in with the translated pages if it can be avoided.

Edit: @kemoantemo it’s not my choice wha

[2019-06-18 00:55] Karem-sobhy commented on #37
ok guys not a problem it was just a cute suggestion <3

[2019-06-18 00:55] #37 closed, assigned to nobody

[2019-06-23 04:39] britttttk opened #38 "$5 Donation button creates $1 invoice"
I believe it's only on the $5 default button but if the increment buttons are used, it gives the correct value for the invoice.

Thanks Norm for pointing out the issue in Mattermost chat.

[2019-06-23 19:24] #38 closed, assigned to nobody

[2019-07-24 14:22] pavlenex commented on #33
- Add Blog link blog.btcpayserver.org
- Add Directory link directory.btcpayserver.org

[2019-08-01 23:54] radWorx opened #43 "Default Donation amount gets cut off"
In Chrome:
![image](https://user-images.githubusercontent.com/27673545/62334560-25931100-b496-11e9-8af9-6e95efc6a47c.png)

[2019-08-02 02:27] vswee commented on #43
Tiny css change to the `min-width` live on playground: [https://btcpayserver.flat18.co.uk/](url). Should fix that issue for you @radWorx but let me know anything else you find :) Cheers

[2019-08-09 14:53] #43 closed, assigned to vswee

[2019-08-12 17:11] pavlenex commented on #33
Add link to the new store store.btcpayserver.org

[2019-10-07 05:34] britttttk opened #48 "Spelling error on donation page"
Foundation on [donation page](https://btcpayserver.org/donate/).

Does this change need to be made on Transifex first or make a PR here first? I'm not sure of the workflow for BTCPay website + Transifex.

![image](https://user-images.githubusercontent.com/39231115/66286913-b91b0080-e890-11e9-8780-3778f9b45eab.png)

[2019-10-07 08:05] pavlenex commented on #48
There a [source file](https://github.com/btcpayserver/btcpayserver.github.io/tree/master/source) - `src`, up there you can apply the change to the HTML which will automatically bump translations, it's also lightly documented (readme in souce)

[2019-10-07 11:18] pavlenex commented on #48
Actually, it seems that /donation page is not in source for some reason.

[2019-10-07 15:19] #48 closed, assigned to nobody

[2019-10-11 18:21] pavlenex opened #52 "Change favicon"
The current favicon is not that good, it should be [this one](https://github.com/btcpayserver/btcpayserver-media/blob/master/BTCPay%20Icon%20with%20background.png) which aligns more with the current design and blog as well.

[2019-10-11 18:22] pavlenex opened #53 "Add favicon to /donate page"
There should be a favicon on the [donation page](https://btcpayserver.org/donate/)

Related to #52

[2019-10-11 18:24] pavlenex opened #54 "Don't open a new tab when click `donate` in menu header"
The new tab open is usually used to open external links, not internal once, hence when you click on the `donate` in the header it should open a link in the same tab.

Remove  `target="_blank" `

[2019-10-11 18:30] pavlenex opened #55 "[Discussion] Remove carousel and simplify the features layout"
Our carousel may be overkill.

What do you guys think, should we simplify and show features in a different layout?

https://bisq.network/ is a good and clean example imo, but web-devs feel free to discuss.

[2019-10-11 18:38] pavlenex opened #56 "Break language menu drop-down into two columns"
21 languages into a single column seem like a bad UX, especially on smaller screens.

![Screenshot 2019-10-11 at 20 35 45](https://user-images.githubusercontent.com/36959754/66676024-e687f580-ec66-11e9-87d5-778df7374cbd.png)

Breaking languages into two columns seem like a better choice, used by bitcoin.org as well.

![Screenshot 2019-10-11 at 20 37 46](https://user-images.githubusercontent.com/36

[2019-10-11 18:46] pavlenex opened #57 "Add links to background images for 3-layout box"
3-layout box Demo |GitHub | Docs should have a link pointing to those sections in images.
![2019-10-11_20-45-03](https://user-images.githubusercontent.com/36959754/66676574-1edc0380-ec68-11e9-9876-285b67ec6850.png)

[2019-10-11 20:33] ghost commented on #55
I agree that the carousel looks overkill, plus (at least from my experience) it doesn't feel very smooth.

For me the "natural" way of navigating the content of a page has always been vertically (I guess the rise of vertical parallax-scrolling agrees with that), in that regard bisq's feature section definitely feels better and is also easier to skim for information since it's available all at once

[2019-10-12 02:02] #56 closed, assigned to nobody

[2019-10-12 02:02] #57 closed, assigned to nobody

[2019-10-12 08:47] #54 closed, assigned to nobody

[2019-10-12 09:46] #53 closed, assigned to nobody

[2019-10-12 09:46] #52 closed, assigned to nobody

[2019-10-12 09:47] pavlenex commented on #55
That seems like I good approach @melanisticmanticore, I quite like that idea.

[2019-10-12 09:55] pavlenex commented on #53
@hoganri it looks like there was a bit of overlap on this one. I hope that this does not discourage you from further contribution, there are still plenty of stuff we can do to improve the website, so if you have any ideas, feel free to open a new issue and we can discuss it.

[2019-10-12 15:25] pavlenex opened #63 "Payment button page"
We should have a payment button demo page to demonstrate different options of the payment button.

[2019-10-12 18:17] vswee commented on #63
~~Could this be the place for this https://experimental-btcpayserver.flat18.co.uk/buttons/index.cshtml?~~

~~https://btcpayserver.flat18.co.uk/buttons~~

[2019-10-12 18:19] pavlenex commented on #63
Yup @vswee but I guess we now need to make it appeal more like the main site (header/footer). Since when we were discussing this, we wanted to make it as a part of the store page, but I guess it makes more sense to have it as a page belonging to the main site, what do you think?

Fantastic page by the way.

[2019-10-12 18:23] vswee commented on #55
I'm all for killing the carousel. Good opportunity to refine those features from 12 to maybe 8 if possible.

[2019-10-12 19:01] pavlenex commented on #55
Sounds like a plan then. Okay let's discuss which features we want on the website.

[2019-10-14 18:02] ghost commented on #55
So I just picked up on @vswee s idea here (reducing the count to 8).
We should probably change the wording a bit as well but these are the features I believe should definitely be on the list.

- Receive bitcoin payments as a business or an individual. No fees. No third-party.

- Free and fully-open source software. Self-hosted and non-custodial.

- Diverse deployment options. From VPS cloud to Ras

[2019-10-16 20:00] vswee commented on #63
I Agree it feels like a natural part of the main site to have the button examples there.

[2019-10-22 08:58] pavlenex commented on #55
@melanisticmanticore sorry for the late reply.

I wouldn't limit it to 8 features, because there may be a few more that are quite important, like an [Internal Wallet](https://docs.btcpayserver.org/features/wallet). As far as alts are concerned, I'd probably mention them briefly and link to a page where people can learn more, def not something that should be a feature on its own.

 The approach you

[2019-10-22 15:29] ghost commented on #55
No worries 😃

Will keep in mind what you said, I'd actually like to tackle it.

Is there a dev server or CLI or something alike that gives me a "build" of my changes to the template?

I will check tomorrow and try to figure the whole transifex thing out by myself in case there's no reply. Maybe I'll figure out that it was a stupid question but my web-dev expertise revolves mostly on working with m

[2019-10-22 15:38] pavlenex commented on #55
Cool, assigning this one to you then.

Check out the [readme](https://github.com/btcpayserver/btcpayserver.github.io#source-files), but I'm not sure if it's enough info. @vswee wants to improve those docs in the future, but if you need help there's #[website channel on our mattermost.](https://chat.btcpayserver.org/btcpayserver/channels/website)

[2019-10-24 07:28] pavlenex opened #64 "Individual Donations section - add PR link"
It's currently unclear to new contributors how they can add themselves to the list of individual contributors.
![Screenshot 2019-10-24 at 09 15 52](https://user-images.githubusercontent.com/36959754/67462643-4bb4f100-f640-11e9-8b84-756394e1bf7c.png)

I propose we add a sentence at the end of the list with a link to the [tmpl.html](https://github.com/btcpayserver/btcpayserver.github.io/blob/master/

[2019-10-24 18:12] vswee commented on #64
I second that. Would be linking it to [/source/src/json/donations.json](https://github.com/btcpayserver/btcpayserver.github.io/blob/master/source/src/json/donations.json) of course ;)

[2019-10-24 19:08] vswee commented on #55
@melanisticmanticore if you want to talk design, suggest changes, implement yourself --whatever. I'll point you to where the changes go :) I think we're aiming for something bisq-y but we can brainstorm on #website.

[2019-10-24 19:10] vswee commented on #55
@pavlenex as for limiting the count; maybe these beauties will change your mind :P
![Screen Shot 2019-10-24 at 15 05 20](https://user-images.githubusercontent.com/2403100/67517303-538c8980-f670-11e9-951d-184e5b258373.png)
![Screen Shot 2019-10-24 at 15 05 31](https://user-images.githubusercontent.com/2403100/67517309-57b8a700-f670-11e9-98e2-1eafb4d4c510.png)

[2019-10-25 07:56] jguchte opened #66 "404 Page not found Getting Started"
Hi,

the link to https://docs.btcpayserver.org/btcpay-basics/gettingstarted returns "404 Page not found".

Info:
https://btcpayserver.org/
Getting Started at a the bottom of the page at BTCPAY BASICS

Greetings,
Jason.

[2019-10-25 08:24] Kukks commented on #66
@pavlenex  can we put a placeholder page on this saying "this page has moved"

Or a redirect tothe new page if possible?

[2019-10-25 08:25] pavlenex commented on #66
@Kukks I don't think so, we'll just change it to https://docs.btcpayserver.org/getting-started/ which redirects to a newly re-structured guide.

[2019-10-25 08:43] pavlenex commented on #55
@vswee Def something like that, let's leave @melanisticmanticore lead on this one?
And we'll together brainstorm on the design and content. We'll have to apply certain changes to the content as well to fit the new layout.

[2019-10-25 08:47] pavlenex commented on #64
LGTM @vswee 🚀

[2019-10-25 13:34] #66 closed, assigned to nobody

[2019-10-26 08:41] #64 closed, assigned to nobody

[2019-10-26 09:44] pavlenex opened #68 "[Donate Page] - Make Foundation CTA a bit more prominent"
Currently the CTA on the donation page for BTCPay Foundation blends in a bit too much, which is not the best option imo, considering it's the most important CTA on that page.

![Screenshot 2019-10-26 at 11 43 45](https://user-images.githubusercontent.com/36959754/67617689-ef8bd180-f7e5-11e9-8a0c-1c3d223af3cc.png)

[2019-10-28 09:57] pavlenex opened #69 "Footer restructure"
It seems that our footer on the main website has a bit too much info, and it's not even organized properly imo.

Let's discuss here how we can make it more useful and less cluttered for visitors.

[2019-10-28 10:04] Eskyee opened #70 "btcpay video, loading strange .org site"
<img width="1436" alt="Screenshot 2019-10-28 at 09 56 00" src="https://user-images.githubusercontent.com/30862925/67669574-1246f300-f96a-11e9-92b2-b85c5c9ee7fa.png">

btcpay video seems to load strange ?? the view is not correct ??

cheers

[2019-10-28 21:25] pavlenex commented on #70
[b7d0159](https://github.com/btcpayserver/btcpayserver.github.io/commit/b7d0159d0aac6d9c7969e8f28bc3b78444f626e1)

[2019-10-28 21:25] #70 closed, assigned to nobody

[2019-11-07 09:51] Kukks opened #71 "Please add build instructions."
Please document how to build or add a bash script that builds or something. I want to eventually automate builds via Github Actions while also testing my changes locally

[2019-11-07 10:24] NicolasDorier commented on #71
@Kukks  github.io is for static pages, there is no build.

[2019-11-07 10:31] Kukks commented on #71
There is, Ed just does it manually each time offline from the `source` folder to the root dir. The main issue is we don't have access to the tooling or how he does it

[2019-11-07 10:32] Kukks commented on #71
`Current build process requires a manual build command when a resource is updated.`
[code]

[2019-11-07 12:13] vswee commented on #71
I'll work on making it presentable and see about adding it to the source.

It currently builds in PHP by pulling down all the transifex files, looping over them and doing a string replace on the index template. It minifies and inserts the css and js files into the template in the loop too. I expect you've got a less bloated way of building @Kukks :)

[2019-11-17 13:10] dennisreimann commented on #71
Let‘s try to automate it using GH Actions like I did with [this script](https://github.com/dennisreimann/btcpayserver-ui-prototype/blob/master/.github/workflows/nodejs.yml).

[2019-11-17 22:04] vswee commented on #71
@dennisreimann This url:[https://btcpayserver.flat18.co.uk/source/translator.php?source=git]( https://btcpayserver.flat18.co.uk/source/translator.php?source=git) clones/pulls the repo, builds the site and saves it to the git (in ~50s) but doesn't push or commit yet. Could that work for actions from a security perspective?

[2019-11-18 06:56] Kukks commented on #71
Can we have the source code for it? It should be in this repository.

[2019-11-18 07:33] dennisreimann commented on #71
imho it'd be best to have it in the repo and make it part of an automatic build, so that only the CI process (GH Action) could trigger it.

[2019-11-19 03:02] vswee commented on #71
@dennisreimann @Kukks want to help me do it 🤞? The scripts will just fill up the website repo with PRs and issues for it so probably prudent to have it in decent order to start. @ndeet was making headway some time back, shall we pick it back up again?

[2019-11-19 06:41] dennisreimann commented on #71
Yeah, let‘s pull this off together :)

[2019-11-19 09:18] ndeet commented on #71
Hi everybody! Yes I suggested the same thing a few months back, to have a reproducible build script/whatever here in the repo so that any contributor can fully build the site as there should be no manual intervention needed when PRs come in.

@vswee thankfully changed and moved files to source directory to separate things and I tested a few iterations of a build script but there were some question

[2019-11-19 09:23] dennisreimann commented on #71
Great plan, @ndeet! 👍

The way that most other scripts do it is creating a build, initializing a new repo in the dist directory and force pushing the result to the `gh-pages` branch. (see [this example](https://github.com/maxheld83/ghpages/blob/master/entrypoint.sh))

[2019-11-19 09:47] ndeet commented on #71
@dennisreimann interesting, thank you.

Looking into gh-pages we have some options here it seems. On settings you can select any branch or you can select master `/docs` directory also https://help.github.com/en/github/working-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site#choosing-a-publishing-source

So we have following options:
- the script you mentioned to push di

[2019-11-29 15:44] vswee commented on #71
There are comments throughout the file but will likely need more clarification on things so just shoot any questions over

[2019-11-30 11:18] dennisreimann commented on #71
Alright, thanks! I'll take a look :)

[2019-11-30 13:34] dennisreimann commented on #71
I started to break the build apart into smaller steps on the [automate-build branch](https://github.com/dennisreimann/btcpayserver.github.io/commits/automate-build) of my fork.

I'd try to move this to npm scripts as the JS ecosystem should offer the best tooling for this kind of build and creating a static website. Right now only the tasks for copying of the static files and downloading the trans

[2019-11-30 14:57] vswee commented on #71
Building the HTML files is actually the most straightforward bit.

- get array of available transifex languages with ~>90% completed translations
- loop over that array and perform string replace the markers in the template files
- unlink/empty and (re)make locale folders [e.g. "ru", "uk"] as part of loop
- repeat process for donation page and sub-directory (in future-proofing against multiple web

[2019-11-30 16:27] dennisreimann commented on #71
I tried to start with the video vtt files, but there seems to be [some kind of magic](https://github.com/btcpayserver/btcpayserver.github.io/blob/master/source/translator.php#L656) going on and I don't really get how it works: Can you elaborate on why and how the translation parts are split up for the loop?

Regarding the assets: IMHO we should just have them as separate files, so that they are no

[2019-11-30 17:09] dennisreimann commented on #71
Got it, so the video files are also created on the branch now :)

[2019-12-01 07:19] Kukks commented on #71
Make a draft PR to here so we can follow this better :)

[2019-12-01 07:30] dennisreimann commented on #71
I‘ll do once the website rendering is done. As my previous comment made clear we‘ll need to polish this together. There are some details I don‘t know about and I am looking forward to @vswee‘s feedback. 😀

[2019-12-01 09:04] dennisreimann commented on #71
Alright, let's discuss this further in #75 as we are almost done with the basics.

[2019-12-01 23:15] ndeet opened #76 "Change translations to include source strings"
Change proposed after switch of the build system in #75:

Currently translations are placed in template files via some array index of a variable (e.g. `$j[5]` like here:
[code]

I find this really confusing to read, you always need to check the en translation file `en.json` and count the lines (starting from 0) to get the correct string, this is tedious when you are not familar with the codebase.

[2019-12-06 22:32] dennisreimann commented on #71
Done, see  #75.

[2019-12-06 22:32] #71 closed, assigned to nobody

[2020-01-02 11:48] wbnns opened #78 "Features slider on homepage shows empty containers at higher resolutions"
When browsing the homepage on a larger screen, e.g. 2560 x 1440, empty containers appear in the Features slider:

![image](https://user-images.githubusercontent.com/1130872/71665614-fd1d8480-2d5d-11ea-8757-769fb0294a70.png)

Browser: Chrome Version 79.0.3945.88
OS: Catalina 10.15.2

[2020-01-02 13:06] vswee commented on #78
Thanks @wbnns Those blank tiles presently help the focused tile to stay centre of the viewport. Future changes planned for this section will do away with the need for blank tiles entirely.

[2020-01-13 13:11] escapedcat opened #80 "Payment button link on frontpage is broken"
This link on the main page leads to a [broken link](https://store.demo.btcpayserver.org/index.php/payment-button-demo/):

![image](https://user-images.githubusercontent.com/1016218/72258519-91b19d80-360e-11ea-9266-f297eb2554cb.png)

[2020-01-15 07:21] NicolasDorier commented on #80
![image](https://user-images.githubusercontent.com/3020646/72413383-0c1b2280-37b3-11ea-82c8-580dacb50dc5.png)

[2020-01-15 07:21] NicolasDorier commented on #80
@pavlenex the store is down?

[2020-01-15 08:30] pavlenex commented on #80
@NicolasDorier It's not the store. @vswee and I wanted to create a separate html page that will present different payment buttons, since when payment button is embedded in wordpress it's always messed up.

@vswee had some nice ideas, but we never pushed them. Will work on this.

[2020-01-15 08:38] pavlenex commented on #80
@NicolasDorier  [This is the current page ](https://store.btcpayserver.org/btcpay-server-payment-button-demo/)and it looks terrible, I'll change the link in the meanwhile but the way our pay button embeds in wordpress makes it look awful.

[2020-01-15 13:56] #78 closed, assigned to nobody

[2020-01-15 14:07] #80 closed, assigned to nobody

[2020-01-15 14:25] vswee commented on #80
There's still this [experimental buttons](https://experimental-btcpayserver.flat18.co.uk/buttons/index.html) page for what it's worth.
![Screen Shot 2020-01-15 at 14 22 30](https://user-images.githubusercontent.com/2403100/72441378-7b3c4b00-37a2-11ea-8a84-8eb80fc58212.png)

[2020-01-15 16:12] pavlenex commented on #80
@vswee that experimental al page looks so much better than the messed up one we have now. If you have the time to simplify it and make it look like btcpayserver.org instead the store page, we can indeed replace the current one.

[2020-01-15 17:15] vswee commented on #80
Presumably you'd want to simplify the text and add translations but it's easily theme-able with the environment styles as this [example](https://btcpayserver.flat18.co.uk/buttons/index.html) shows.

[2020-01-15 19:56] pavlenex commented on #80
@vswee  That one looks cool. Should we put it as the part of btcpayserver.org or as an external page? I'm thinking we can remove text altogether, we're in website-redesign and re-thinking process anyway, so what do you think about deploying this but without text, with slightly modified footer so it looks the same as btcpayserver.org?

[2020-01-16 19:07] vswee commented on #80
Less text the better. You mean to exclude a page title too? Like ~~BTCPay Payment Button demo page~~

[2020-01-18 15:23] pavlenex commented on #80
@vswee That one is your call, we can remove it for now if that's alright with you.

[2020-03-08 01:25] Ivans1310 commented on #63
Where could I create a payment button?

[2020-03-08 03:33] vswee commented on #63
~~The sample is: [on the demo](https://btcpayserver.flat18.co.uk/buttons)~~

[2020-03-23 09:44] pavlenex opened #82 "[New Site] - Make sure we use current invoice & front page design"
Once [#1405 ](https://github.com/btcpayserver/btcpayserver/issues/1405)is merged and we have a final design, we should use that as a demo example. For dark mode (since we won't have it on the server, we can use our own iteration of the dark mode).

Same goes for the front page, by the time we launch the website, we'll have a new server front page so we should use that instead of the one we current

[2020-03-23 09:50] pavlenex opened #83 "[Content] - Improve text on features boxed layout"
The text we currently have on a demo is just a mockup and we should figure out what to put in those boxes.

![Screenshot 2020-03-23 at 10 47 20](https://user-images.githubusercontent.com/36959754/77303934-06cade80-6cf4-11ea-9581-b5cee801aa3c.png)
![Screenshot 2020-03-23 at 10 47 26](https://user-images.githubusercontent.com/36959754/77303939-07fc0b80-6cf4-11ea-9188-d167538fd9f1.png)

[2020-03-23 10:14] pavlenex opened #84 "[Mobile] Responsive design issues"
Here's a list of known issues happening on mobile. I'll keep them all logged here so we can tackle the one by one.

## General Mobile
### Empty Menu
Some users reported that the menu looks a bit too empty since it's short & simple.

![Screenshot 2020-03-23 at 11 04 41](https://user-images.githubusercontent.com/36959754/77305971-3d562880-6cf7-11ea-9b43-9c3630e00a85.png)

Dub suggested we enlarge th

[2020-03-23 16:52] vswee commented on #84
Thanks for that @pavlenex

* Font sized up 50%
* iOS issue fixed

![Screen Shot 2020-03-23 at 16 49 50](https://user-images.githubusercontent.com/2403100/77341262-5fb36a80-6d26-11ea-9cf5-d5618bbbeea1.png)

[2020-03-23 16:56] pavlenex commented on #84
Thanks @vswee tested and it works now!

Minor thing, while we're on mobile issues, do you think we can better display these icons? Inline for this size makes sense?

On iPhone 8.

![IMG_4679](https://user-images.githubusercontent.com/36959754/77341746-7b6f3e80-6d2f-11ea-9ac5-ef1fce93f497.PNG)

[2020-03-23 17:14] vswee commented on #84
Even better; all the way down to iPhone SE
<img width="315" alt="Screenshot 2020-03-23 at 17 13 24" src="https://user-images.githubusercontent.com/2403100/77343502-aeaecf00-6d29-11ea-80ad-80882bf2029f.png">

[2020-03-23 17:15] pavlenex commented on #84
Awesome! Closing this one then! Waiting for Dub (Mitchell) to provide more feedback so we can proceed.

[2020-03-23 17:15] #84 closed, assigned to nobody

[2020-03-25 15:33] Conimous opened #85 "[BLOG] BTCpay logo left corner messes with design Safari"
Hey there,

Just was looking at the Blog.btcpayserver.org and found that the B from the logo obstructs quiet a bit see attachment. Went from main site to Blog.

Cheers.

![Schermafbeelding 2020-03-25 om 16 29 33](https://user-images.githubusercontent.com/41842951/77554316-33c6ef00-6eb6-11ea-8641-479d88b79eb1.png)

[2020-04-04 17:08] pavlenex opened #86 "Make all social icons same size (Mattermost icon is bigger at least visually )"
Make all icons in `Join The Community` section the same size.
![Screenshot 2020-04-04 at 19 07 06](https://user-images.githubusercontent.com/36959754/78457028-a5b5ea00-76a7-11ea-86c4-1d72bd67243c.png)
Tested on 13" screen.

[2020-04-04 17:34] pavlenex opened #87 "Dark mode - darker color for the footer"

[2020-04-04 17:36] pavlenex opened #88 "Improve inconsistent spacing"
![spacing-1](https://user-images.githubusercontent.com/36959754/78457570-7bfec200-76ab-11ea-9915-f1a8047a60c9.png)
![spacing-2](https://user-images.githubusercontent.com/36959754/78457573-7c975880-76ab-11ea-8518-88a86733381b.png)

[2020-04-04 17:38] pavlenex commented on #83
[Content available here](https://docs.google.com/document/d/1P08F14eIraI7ChtbZWi2XEXkQwMVDQbADF9IaYPTuLY/edit#heading=h.e3izrjqwvc4p)

[2020-04-04 17:38] #33 closed, assigned to nobody

[2020-04-04 17:38] #55 closed, assigned to nobody

[2020-04-05 12:13] dennisreimann commented on #69
Just a note: The "Getting Started" link currently does not work, it should point to this URL: https://docs.btcpayserver.org/getting-started/

[2020-04-05 20:28] vswee commented on #86
<img width="394" alt="Screenshot 2020-04-05 at 21 28 04" src="https://user-images.githubusercontent.com/2403100/78509206-71642b80-7784-11ea-8b1d-7f7a69ce9c48.png">
Better?

[2020-04-05 21:04] vswee commented on #88
![Screen Shot 2020-04-05 at 22 01 37-fullpage](https://user-images.githubusercontent.com/2403100/78509882-48926500-7789-11ea-8b9f-aa93ac4fd020.png)
New 900px-width break-point

[2020-04-05 21:14] vswee commented on #87
![Screen Shot 2020-04-05 at 22 08 37](https://user-images.githubusercontent.com/2403100/78510092-b25f3e80-778a-11ea-9a2d-e0c4b67f2919.jpg)
Changed to the pre-existing dark-green variable (#003822) which is currently the same for both modes

[2020-04-05 21:22] pavlenex commented on #86
Looks good now @vswee! I'm kinda missing some hover indicator there, should we add that?

[2020-04-05 21:23] pavlenex commented on #88
@dennisreimann does this look better now?

[2020-04-05 21:23] pavlenex commented on #87
LGTM!

[2020-04-05 21:23] #87 closed, assigned to vswee

[2020-04-05 22:53] vswee commented on #86
Added a bounce. Maybe colour is a step too far?

[2020-04-05 23:48] vswee commented on #83
Discretely from the current build method, that content's over here [Content here](https://btcpayserver.flat18.co.uk/loose/)

If you're feeling like a mad lad, all the page text is editable at the click.

[2020-04-06 07:23] pavlenex commented on #83
Woah @vswee what an epic solution! Will tackle this one today. Great great job.

[2020-04-06 07:25] pavlenex commented on #86
I don't mind colors but yellow GitHub logo triggers me, perhaps we can use their standard purple logo?
![Screenshot 2020-04-06 at 09 22 36](https://user-images.githubusercontent.com/36959754/78532972-6c38c800-77e8-11ea-94bd-c7760f8a34f1.png)
But could be that it's too much as we already have colors on integration page, your call.

[2020-04-06 10:16] dennisreimann commented on #88
yep, great!

[2020-04-06 10:16] #88 closed, assigned to vswee

[2020-04-06 15:53] pavlenex commented on #69
This is now done, thanks Mike, Ed and Dennis for brainstorming and killing the monster.

[2020-04-06 15:53] #69 closed, assigned to nobody

[2020-04-07 09:06] #83 closed, assigned to vswee

[2020-04-07 09:10] pavlenex opened #89 "How it works area"
Instead of the current area that does not provide useful information, it's been decided that we should display how BTCPay works.

Current area
![Capture](https://user-images.githubusercontent.com/36959754/78651135-35ce7c00-78c0-11ea-88e7-9b398198d226.PNG)

Suggested text
![How it works](https://user-images.githubusercontent.com/36959754/78651145-39fa9980-78c0-11ea-8f80-4015b7f87de6.PNG)

Suggested

[2020-04-07 09:11] #86 closed, assigned to vswee

[2020-04-07 09:12] pavlenex opened #90 "Change the color of GitHub icon to purple and fix Youtube to YouTube typo"
If we decide to go with colored icons, GitHub's icon should be purple instead of yellow, since purple is their dark mode color as mentioned [here](https://github.com/btcpayserver/btcpayserver.org/issues/86#issuecomment-609612256)

Also YouTube should be used instead of Youtube

[2020-04-07 09:19] pavlenex opened #91 "Determine the text and features in the "Features area""
Right now a suggested features area is decent, but I'd like to see if we can somehow improve it since it seems repetitive with the above the fold content. Lots of info gets repeated often, so perhaps it would be better to push something in features that first-time users can understand and get a better feeling of btcpay possibilities either as a payment processor or a stack.

Current features
![fea

[2020-04-07 18:10] pavlenex commented on #90
Done.

[2020-04-07 18:10] #90 closed, assigned to vswee

[2020-04-12 08:30] #89 closed, assigned to vswee

[2020-04-15 19:26] pavlenex commented on #82
Done.

[2020-04-15 19:26] #82 closed, assigned to vswee

[2020-04-15 19:46] dennisreimann commented on #91
**Invoices and Accounting**
BTCPay offers the tools that make cryptocurrency bookkeeping easier. Create and manage invoices – and get notified when they get paid. Export your invoices in various formats or integrate them via QuickBooks.

**Wallet Management**
Each of your stores and cryptocurrency have their separate wallets. Create your own private key externally and import the xpubkey – this way

[2020-04-17 07:45] #91 closed, assigned to dennisreimann, pavlenex

[2020-04-17 09:41] pavlenex opened #92 "en-json contains legacy strings"
We need to clean up `en-json` since it shows a bunch of legacy strings for people on Transifex. We can't really ask people to translate until we clean it up.

![Screenshot 2020-04-17 at 11 39 52](https://user-images.githubusercontent.com/36959754/79555753-5e186080-80a0-11ea-9e50-b5990582bd14.png)

[2020-04-17 12:57] pavlenex opened #93 "Fix text alignment of the wordpress icon"
Would be good to remove redundant BTC icons, looks kinda messy. At least on the presta icon the middle one is okay imo.
![Screenshot 2020-04-17 at 14 56 52](https://user-images.githubusercontent.com/36959754/79571592-bc9f0800-80bb-11ea-8658-6f431e8abfde.png)

Also on 13 inch monitor Woocommerce text overlaps the WordPress icon and it does not look that good.
![Screenshot 2020-04-17 at 14 49 35](ht

[2020-04-18 08:06] Ruxiol opened #95 "Character encoding problem"
When switched to Bosnian language, some characters are showed in weird way.

i think that's UTF8 encoding problem

As you can see, letters ć/č/ž/đ

![image](https://user-images.githubusercontent.com/12742502/79631891-3981be80-815c-11ea-96c7-7fadf0f4d0be.png)

[2020-04-19 09:34] RiccardoMasutti commented on #92
We can add a `no_translate` label

[2020-04-19 09:39] pavlenex commented on #92
I'll leave this here unsure if no_label would help us now, as json was formatted inappropriately from the start.
![Screenshot 2020-04-19 at 11 38 35](https://user-images.githubusercontent.com/36959754/79684524-70c29f00-8232-11ea-9f07-73e55d5e061d.png)

[2020-04-19 09:40] #92 closed, assigned to nobody

[2020-04-19 09:47] RiccardoMasutti commented on #93
I need help with the alignment of the Wordpress icon

[2020-04-19 18:54] dennisreimann opened #104 "Remove theme from URL and use users preferences"
Similar to [what we did in the directory](https://github.com/btcpayserver/directory.btcpayserver.org/commit/15928d9c3bf50b870981355071a92bd29a52d617):

* Remove the light/dark path segement from the URL
* Move the preference to localStorage
* Initially use the users system preferences to look up the prefered theme

Relevant code snippets from the above commit:

[code]

[2020-04-19 20:37] #93 closed, assigned to nobody

[2020-04-19 20:39] pavlenex commented on #76
#103

[2020-04-19 20:39] #76 closed, assigned to nobody

[2020-04-20 06:58] pavlenex opened #105 "Update templates - object keys instead of the array indexes"
The new en.json has been added to Transifex. Translations had to be manually added (shout-out to @britttttk for handling that)

The following languages are 100% translated.
![Screenshot 2020-04-20 at 08 56 02](https://user-images.githubusercontent.com/36959754/79722713-d7a09080-82e4-11ea-9e33-3343e1ca5f20.png)

I think we should only add 100% translated languages. If we start adding partially comp

[2020-04-20 07:24] RiccardoMasutti commented on #105
I agree with 100% translated only

[2020-04-20 07:33] britttttk commented on #105
I would go with a bit lower minimum like 80%, since sometimes translators don't translate strings if they think the English version is sufficient. Also that way if we add a few strings it will not drop the entire language until they update, but 100% makes sense too.

[2020-04-20 07:40] pavlenex commented on #105
It's kinda tricky to draw a line. I believe this languages are added manually anyways, so when you **add** a 100% complete language and we add a certain new string, it won't drop, but what we have right now is slightly messy.

One more argument for 100% would be that people won't be motivated to complete a translations if it's already published.

I would add only 100% right now and if a new string

[2020-04-20 07:47] britttttk commented on #105
hmm we should document this process to discuss if there is a better way.

This is not particularly clear: https://github.com/btcpayserver/btcpayserver.org/blob/master/source/README.md#transifex-master

In the main repo there is a test (run locally) that pulls the translations using the transifex client when you run the test. It is possible to provide a minimum translation pull policy flag when usi

[2020-04-20 07:48] pavlenex commented on #105
Honestly I've no idea how we handle it, I've just suggested the way most projects I contributed to in the past such as bitcoin.org handles it.

I guess we can add a new language when it's 100% but allow it to drop up to 80-90% afterwards when new string is added. Would be good to have some sort of alert when it drops though so we can ping translators. But this is again me over-thinking us we add n

[2020-04-20 07:55] pavlenex commented on #95
@Ruxiol Can you check again, seems to look fine on my end now.
![Screenshot 2020-04-20 at 09 54 10](https://user-images.githubusercontent.com/36959754/79727685-0cb0e100-82ed-11ea-9026-72763e4c38e1.png)

[2020-04-20 13:06] vswee commented on #105
As far as I can recall:
Translators can opt-in to be notified when new strings require translating for a language they're subscribed to.

We always used 80% minimum threshold since the first switch to multilingual.
This worked because we never modified/added more than 1/5 strings.

Part of the build process involves pulling the stats from transifex on completeness so actions can be modified at tha

[2020-04-20 13:43] pavlenex commented on #105
Thanks for clarifying that @vswee gives a different perspective for me.

How about we keep it then around 80-90% then? I assume that's the golden middle where the website won't look bad and we'll avoid websites being dropped out when we add a smaller change? Bear in mind that content changes will be kept at a minimum like we did so far.

@britttttk @vswee @dennisreimann @RiccardoMasutti  What do y

[2020-04-20 13:48] dennisreimann commented on #105
I'm fine with 80-90%, sounds reasonable. 👍

[2020-04-20 17:21] RiccardoMasutti commented on #105
Nack for me. We should go for 100% imo

[2020-04-20 18:03] dennisreimann commented on #105
I think it makes sense to have some tolerance for the case that new strings get added. Otherwise the languages that don't get translated instantly would get removed, even though they might just miss one or two new strings.

[2020-04-21 01:02] Dorson commented on #104
Made exactly that for the night and evening time.

The @media screen and (prefers-color-scheme: dark) {}  CSS rule could work with Pure CSS alone. No need for the JavaScript to handle that, because it's being adopted more and more by the browsers today.

For the more complex cases: see live demo on my GitHub page:

https://dorson.github.io/CSS-Dark-Mode-and-color-switch/

Have fun, feel free to fo

[2020-04-21 06:25] dennisreimann commented on #104
@Dorson correct, but we decided on having an explicit switch also.

[2020-04-21 13:55] dennisreimann commented on #95
That's an issue with the webfont, as the particular font-weights don't include the correct unicode-range for some languages. Let's fix this once the template updates are merged.

[2020-04-21 17:00] #105 closed, assigned to dennisreimann, vswee

[2020-04-21 17:59] pavlenex opened #109 "فارسي should be RTL instead LTR"
Reported by @kemoantemo

[2020-04-22 00:17] Chibuikekenneth opened #110 "Images Not Loading"
I Noticed this error when [Btcpayserver.org](https://btcpayserver.org/) has fully loaded on the browser

* => Two images Are supposed to be in the Home page But aren't Loading.

* => The Images only show when you switch between dark/light Modes, thereby switching URL eg: https://btcpayserver.org/dark/ or https://btcpayserver.org/light/

![image](https://user-images.githubusercontent.com/38410485/7

[2020-04-22 06:29] dennisreimann commented on #110
Hmm, it works for me in Firefox, Chrome and Safari – also checked that the references are fine regardless of the theme setting/URL. Can you see if this still fails (potentially just a glitch?) and if so, which browser are you using?

[2020-04-22 08:52] #109 closed, assigned to nobody

[2020-04-22 14:24] Chibuikekenneth commented on #110
I'm using chrome, also tried on Firefox as well but still have the same issue.

Maybe you can try using a different laptop as well or try on mobile phone.

[2020-04-22 14:29] dennisreimann commented on #110
Just checked, works on my mobile devices as well. Can you try clearing the cache and reload?

[2020-04-22 18:07] Chibuikekenneth commented on #110
*  I have Done that too. Though i tried inspecting, and here's what i got

![image](https://user-images.githubusercontent.com/38410485/80016915-aa620700-84cb-11ea-9bfe-f587763fbd98.png)

URL: [btcpaysever.org](https://btcpayserver.org/)

*  When it's in either light or Dark mode, the image Shows, when i inspect, i get the image

![image](https://user-images.githubusercontent.com/38410485/80017221-

[2020-04-22 18:58] dennisreimann commented on #110
Ok, thanks for digging deeper, you are correct! Can't check why it is working for me though, but this will be fixed with #108.

[2020-04-25 07:04] Eskyee commented on #110
<img width="1398" alt="Screenshot 2020-04-25 at 07 33 14" src="https://user-images.githubusercontent.com/30862925/80273563-24141380-86cb-11ea-9891-973cfafe136a.png">

I'm also seeing this today on my safari , @dennisreimann

find broken lmg links below...
https://btcpayserver.org/img/invoice-%7B%7B_thrFor%7D%7D.svg

https://btcpayserver.org/img/server-%7B%7B_thrFor%7D%7D.png

[2020-04-25 07:06] dennisreimann commented on #110
Ok, let‘s get #108 merged. Ping @vswee @pavlenex.

[2020-04-25 07:24] #104 closed, assigned to nobody

[2020-04-25 07:26] pavlenex commented on #110
Please @Chibuikekenneth and @Eskyee check now and let us know if still happens, if not then we can close the issue. (clear your browser cache just in case)

[2020-04-25 07:30] Eskyee commented on #110
<img width="1398" alt="Screenshot 2020-04-25 at 08 28 37" src="https://user-images.githubusercontent.com/30862925/80273976-f335dd80-86ce-11ea-9810-06160b452362.png">

yes working now, cleared cache, now all good!

[2020-04-25 07:30] #110 closed, assigned to nobody

[2020-04-25 08:39] Eskyee commented on #85
@dennisreimann I think the problem is the lazy loading " lazyload class"
preloading and not to preloaded lazy bug stuff, happens in safari !!

@pavlenex

 this does not happen in Firefox or chrome, just apple, so far I found.

![IMG_2560](https://user-images.githubusercontent.com/30862925/80275285-2a5cbc80-86d8-11ea-9b35-4f0402648d97.jpg)
![IMG_2561](https://user-images.githubusercontent.com/30862

[2020-04-25 08:40] Eskyee commented on #85
then we can close this issue :)

[2020-04-25 08:47] Eskyee commented on #63
404 error on URL https://btcpayserver.flat18.co.uk/buttons @vswee

or is this on purpose ?? as you can do this in your local dev environment now..
please update us please. https://btcpayserver.flat18.co.uk

thanks @vswee @pavlenex

[2020-04-25 12:17] vswee commented on #63
@Eskyee This is on purpose mate :(
Sorry about that broken link.

[2020-04-25 13:42] Chibuikekenneth commented on #110
Yes !!!

Cleared cache, All Good. @pavlenex

[2020-04-26 09:44] praneetjainIN opened #114 "Chromium Browser (page view issue)"
Try opening the website in chromium browser, the page is not aligned at all.

Home page is too stretched. Rest pages seems fine.

![image](https://user-images.githubusercontent.com/63642550/80303947-e8fc0800-87d0-11ea-83ad-5e88d7e5a5cd.png)

![image](https://user-images.githubusercontent.com/63642550/80303970-029d4f80-87d1-11ea-9a2c-0cccc5cbe798.png)

![image](https://user-images.githubusercontent

[2020-04-26 10:24] dennisreimann commented on #85
I can reproduce it in Safari.

To fix it, we'd need to change this CSS rule

[code]

… and apply the width of 50 pixels:

[code]

Do we have the source for the blog on GitHub too? Haven't found a repo.

[2020-04-26 10:37] pavlenex commented on #85
Ok, check now @Eskyee

[2020-04-26 10:38] Eskyee commented on #85
Sorted 🙌

[2020-04-26 10:39] Eskyee commented on #85
No problems now with size on logo.

[2020-04-26 10:41] #85 closed, assigned to nobody

[2020-04-26 10:43] Eskyee commented on #85
<img width="1440" alt="Screenshot 2020-04-26 at 11 41 08" src="https://user-images.githubusercontent.com/30862925/80305135-f0141d80-87b2-11ea-968b-bf9a2a496528.png">

just need to sort out the boxes now, as it looks untidy, middle box shorter,  cheers guys

[2020-04-26 10:52] dennisreimann commented on #85
yep, fixed 👍

[2020-04-26 15:58] Eskyee commented on #114
I tested this error on other browsers and can't reproduce problem , chromium browser might have a bug?? not sure 100% because I don't use chromium browser sorry.

[2020-04-26 18:42] Eskyee commented on #85
<img width="1440" alt="Screenshot 2020-04-26 at 19 41 40" src="https://user-images.githubusercontent.com/30862925/80316465-02fc1180-87f6-11ea-96b9-0f203c7555b5.png">

Perfect ❤️

[2020-05-26 10:31] pavlenex opened #118 "Replace introductory string"
As discussed on Mattermost the string:

`BTCPay Server is proudly free and open-source, built and maintained by a world-wide community of passionate contributors.` does not really tell what BTCPay Server is. We should bring back the old string that was also translated on Transifex.

Leaving it here so we don't forget.

[2020-05-28 09:06] grzegorz-wcislo opened #121 "Broken link to getting started"
On https://btcpayserver.org/ there is a link to getting started (in the footer), that leads to a 404: https://docs.btcpayserver.org/btcpay-basics/gettingstarted.

The link should probably be changed to http://docs.btcpayserver.org/RegisterAccount/.

[2020-05-30 19:10] #121 closed, assigned to nobody

[2020-08-02 15:53] #118 closed, assigned to vswee

[2020-08-06 15:41] #95 closed, assigned to dennisreimann

[2020-08-19 04:15] l33d4n opened #128 "Switching between languages on mobile"
When trying to switch between languages the menu "jumps" after clicking on the languages dropdown and automatically clicks on the first language, it is impossible to select the desired language.

## Screen recorder
![ezgif-2-168f689c2a37](https://user-images.githubusercontent.com/8020386/90591104-c923a080-e214-11ea-8fb0-e05e0aeb686b.gif)

[2020-08-19 08:39] pavlenex commented on #128
Thanks for reporting this is indeed a bug. Replicated on Safari.

[2020-08-19 17:27] Zaxounette commented on #128
Nice find !
Also confirmed in Chrome on Android.

[2020-08-26 09:28] #128 closed, assigned to dennisreimann

[2020-09-12 00:42] l33d4n opened #131 "Add 'lang' attribute to the <html> element to declare language of the page"
Improves SEO and helps browsers offer the content in the right language for the user.

[2020-09-12 05:48] #131 closed, assigned to nobody

[2020-09-14 04:04] l33d4n opened #133 "W3C errors list"
I fixed almost half of the errors in #130 but there is still some work to be done.

Full list: https://validator.w3.org/nu/?doc=https%3A%2F%2Fbtcpayserver.org%2F

![image](https://user-images.githubusercontent.com/8020386/93042559-f0d61f00-f681-11ea-86d2-abdc53a09f4e.png)

[2020-09-17 07:46] pavlenex commented on #133
Here's what's left.
![Screenshot 2020-09-17 at 09 45 26](https://user-images.githubusercontent.com/36959754/93436036-8d8afd80-f8ca-11ea-9651-c435c0e8c26b.png)

[2020-09-26 10:23] l33d4n commented on #133
![image](https://user-images.githubusercontent.com/8020386/94338494-4c5ec000-0025-11eb-8abd-32cecaf17d3f.png)

[2020-10-08 11:44] esky33kubernetes opened #137 "SecurityHeaders Report Summary for BTCPayServer. org scored a low D"
https://securityheaders.com/?q=btcpayserver.org&followRedirects=on

thought I share it here... as I was researching securityheaders!! So if maybe we could improve the scoring on our securityheaders, for .org site but as we host site on GitHub , I,m not sure how this works!! may be @dennisreimann or @vswee understands this more clearly.
cheers

[2020-10-08 11:46] NicolasDorier commented on #137
Well I think that's OK given the website is not really security sensitive. But if we can do something, why not.

[2020-10-08 12:16] dennisreimann commented on #137
I've tried setting these headers via html meta tags (e.g. `<meta http-equiv="X-Frame-Options" content="deny">`), but this does not work and they should be set properly as HTTP headers. GitHub Pages does not support this, so the solution would be to switch to something like Netlify or use a reverse proxy in front of the site.

As Nicolas said this isn't really relevant and necessary in this context

[2020-10-08 12:17] Eskyee commented on #137
Yes I agree!

[2020-10-08 13:47] mariodian commented on #137
This may however be an issue for [apps or the btcpay server itself](https://securityheaders.com/?q=https%3A%2F%2Fmainnet.demo.btcpayserver.org%2Fapps%2F87kj5yKay8mB4UUZcJhZH5TqDKMD3CznjwLjiu1oYZXe%2Fpos&followRedirects=on), especially when it comes to `Content Security Policy`.

[2020-10-08 14:46] Eskyee commented on #137
Be nice just to double check all this.... if it can protect the user .. etc etc

[2020-10-11 00:57] Zaxounette commented on #133
Concerning sections 1.1 and 1.2, after looking up the docs on language tags, it seems Great-Britain isn't a valid country name/code/tag.
Instead, should use United-Kingdom `en_UK`.

[2020-10-11 01:08] l33d4n commented on #133
@Zaxounette I'm not sure how to change it without breaking the translation but it seems the correct code is ```en-GB``` instead of ```en_GB```:
https://www.w3.org/International/articles/language-tags/#region

![image](https://user-images.githubusercontent.com/8020386/95668024-99ec3880-0ba0-11eb-92fd-49edbb9c017c.png)

[2020-10-11 01:16] Zaxounette commented on #133
@l33d4n Oh my bad !
You are correct on the `-` instead of `_`.
As for UK vs GB, since they give that example directly in the docs, i'll assume they're right too :D

[2020-10-11 01:17] Zaxounette commented on #133
Changing that without breaking translation might just be a question of tagging it the same way for the string file ?

[2020-10-11 01:32] l33d4n commented on #133
To be honest, I'm not really sure how transifex works.
I believe that we need to change the language tags and update it with Transifex.

I think that the process is similar to adding a new language, make sense?

[2020-10-11 01:41] Zaxounette commented on #133
I'll ping @Britttttk, she'll know how to answer that better than me.

[2020-12-11 08:46] pavlenex opened #139 "Make developer docs / API more prominent"
Our new [API ](https://docs.btcpayserver.org/API/Greenfield/v1/)is currently quite hidden as mentioned [here](https://github.com/btcpayserver/btcpayserver/pull/2127).

We should discuss on how to display the link to the API more prominently on the website.

[2020-12-11 10:47] dennisreimann commented on #139
We could add a fifth point "Automation via the API" with an introduction text like I mentioned [here](https://github.com/btcpayserver/btcpayserver/pull/2127#issuecomment-743111914) to the selling points section.

Other than that I think one would expect to find it more prominently in the docs than on the website. For that I still see a use case for the "Explore by topic" section, which we discusse

[2020-12-15 20:35] pavlenex commented on #139
@dennisreimann  That sounds good to me. Also I'd add `Developers` in the menu with `API` sub-menu, and later on docs and plugins for devs. If you're tackling the copy on the site, please try to make it simple to understand and easy to translate.

[2021-01-16 20:12] neurofighter opened #142 "Idea: Layaway for lightning?"
With limited inbound capacity it would really help if there was a layaway feature for lightning payments.  If I could choose how much to pay at each payment, I could pay out of my send capacity, then load up some more bitcoin onto my lightning channels through a strike payment or loop in.  After a couple of payments when the invoice is paid off then I could receive my item.

[2021-01-16 20:18] pavlenex commented on #142
This is a wrong repository for suggestions, you may want to suggest this on chat.btcpayserver.org or in our main repo discussions section.

[2021-01-16 20:18] #142 closed, assigned to nobody

[2021-01-16 20:26] neurofighter commented on #142
Ok thanks. I posted the comment in the lightning mattermost channel

[2021-02-10 16:23] pavlenex commented on #139
Awaiting for the icons from @dstrukt to proceed.

[2021-04-20 08:48] #139 closed, assigned to dennisreimann, dstrukt

[2021-05-19 08:15] pavlenex opened #147 "Weird gradient on the /donate page"
There's a weird-looking shadowy gradient on the `donation` page which should be removed.
![Screenshot 2021-05-19 at 10 13 54](https://user-images.githubusercontent.com/36959754/118779259-28d5d780-b88b-11eb-9e3e-dabb357fb12a.png)

[2021-05-20 09:42] #147 closed, assigned to nobody

[2021-06-17 07:42] bubelov opened #149 "Blog feed not found"
Hi. Did you remove RSS feed intentionally of it's just a bug or temporary measure? I'm getting 404 on https://blog.btcpayserver.org/feed/ in my reader, apparently this was a valid feed URL for a long time until recently.

[2021-06-17 08:29] pavlenex commented on #149
Hey, thanks for reporting, this could be due to our firewall aggressively blocking certainly URL's, I'll take a look.

[2021-07-04 08:37] #149 closed, assigned to nobody

[2021-07-04 08:39] pavlenex commented on #149
We're migrating our blog to a new CMS. Development process is here https://github.com/btcpayserver/blog if this feature is useful, we can certainly try to add it back. Feel free to request the RSS addition in that repo.

[2021-07-04 08:43] #63 closed, assigned to vswee

[2021-07-04 08:45] #137 closed, assigned to nobody

[2021-07-04 08:48] pavlenex opened #150 "Find a way to prominently display "BTCPay For Local Communities" video?"
There's really a nice video made by Brian that gives people the hands-on BTCPay Server experience. https://youtu.be/9n81qnzlPf8

It would be a good idea to showcase this somewhere on the site.

I'm not 100% sure of the best practices for showcasing multiple videos on the front page. Maybe @dstrukt or @gbks can advise here.

[2021-07-04 14:08] Zaxounette commented on #150
Not sure if it's best practice, but I know videos carousels can be done.

We have the original video in the middle of the site, we could add Brian's video in a carousel alongside it, and then add the animation N°2 alongside those in the carousel once it's ready.

[2021-07-05 06:53] GBKS commented on #150
As @Zaxounette wrote, a horizontal carousel is a common solution. If you just have two videos, you could also just stack them vertically and avoid the extra complexity (carousels are great for 3+ items IMHO). I'd make sure that video titles are easy to see, so a user can pick the one that best fits their interests. The video currently on the BTCPay home page is just a green gradient without a titl

[2021-07-05 09:13] pavlenex opened #151 "Change the thumbnail of the introductory video"
The introductory video we have on-site, looks like something is broken, we should instead showcase a better thumbnail.

![image](https://user-images.githubusercontent.com/36959754/124447807-06881280-dd82-11eb-8e32-068c5820f2a6.png)

[2021-07-05 09:13] pavlenex commented on #150
I guess having them side by side makes sense.

[2021-07-05 12:52] ghost commented on #151
An easy fix would be so change the thumbnail to the BTCPay logo:

![image](https://user-images.githubusercontent.com/4956763/124472235-8b852300-dda6-11eb-820a-646e0a441abb.png)

The fade-out screen at the end of the video could be another nice option:

![image](https://user-images.githubusercontent.com/4956763/124472432-ca1add80-dda6-11eb-9edc-f780b168eba6.png)

Another reason that the video appea

[2021-07-05 13:04] ghost commented on #150
Happy to take this one along with #151.

[2021-07-05 16:44] dstrukt commented on #150
Sorry for the delay in response, been with family this weekend.

+1 To either a horizontal or vertical stack unless we have 3-4+ videos for a carousel. It's a nice potential solution, but I don't think we're quite there, and depending on context, the videos they could be slightly dispersed among the page, so it's not an immediate one after the after in either direction .. but that change could be

[2021-07-16 20:39] dstrukt commented on #151
I like where you're going with the outro / trailing screen (logo / socials), but I think the intro screen could potentially use a nice bold (left or center aligned) title our the Open Sans font.

Should have some time this weekend to mock out something.

[2021-08-04 07:13] #133 closed, assigned to nobody

[2021-10-25 23:37] ghost commented on #150
Can this and #151 be closed? It's been a while but I think #152 resolved both.

[2021-10-26 07:12] #151 closed, assigned to nobody

[2021-10-26 07:13] #150 closed, assigned to nobody

[2022-03-25 22:17] ElucGeek opened #158 "Typo in the QR code on home page"
The [example of payment checkout ](https://btcpayserver.org/img/invoice-dark.svg) on the home page has a QR code that decode to the URL: https://btcpayserber.org with a b instead of v.

[2022-03-26 17:32] dennisreimann commented on #158
haha, nice catch!

[2022-04-08 01:08] Mantisseclabs opened #159 "Vulnerability Report-CVE-2021-28854"
Host: https://btcpayserver.org/

Issue: CVE-2021-28854

Severity: Medium

Vulnerable Endpoint:

https://londondemo.btcpayserver.org/agc/vicidial_mysqli_errors.txt

Ref:

https://vulmon.com/vulnerabilitydetails?qid=CVE-2021-28854

Attaching pics below
![btcpayserver1](https://user-images.githubusercontent.com/71155497/162343537-a8517134-42ca-45f7-bee8-c72555419d84.png)
![btcserver2](https://user-im

[2022-04-11 09:00] pavlenex commented on #159
Not related to this repository, this is about our website cc @dennisreimann maybe you know if this is valid, doesn't seem so to me.

[2022-04-11 09:33] dennisreimann commented on #159
At least that subdomain seems to exist, I don't know what it is/was used for. We should remove it.

[2022-04-12 01:57] Mantisseclabs commented on #159
Hi @dennisreimann @pavlenex Did you guys validate the vulnerability?
any questions?

[2022-04-18 03:10] Mantisseclabs commented on #159
there? @dennisreimann @pavlenex

[2022-04-18 05:22] NicolasDorier commented on #159
I just removed the domain name, I think this was related to a old test vm we had for a demo that we don't use anymore. Another customer of the same VPS got a VM with same IP. So it's unrelated to us.

[2022-04-18 05:48] #159 closed, assigned to nobody

[2022-04-19 09:46] pavlenex opened #161 "Add Shopify Icon to the website and link to shopify docs"
![Screenshot 2022-04-19 at 11 45 47](https://user-images.githubusercontent.com/36959754/163976983-56d06fe0-5cf0-449a-a413-3eaa0b45650f.png)

https://docs.btcpayserver.org/Shopify/

[2022-04-19 15:04] OpenSourceLasagna commented on #161
it would be really nice if i could do this as my first issue!

[2022-04-19 15:16] pavlenex commented on #161
Awesome @Paul0908 It's all yours! ❤️

[2022-04-23 15:31] pavlenex opened #162 "Replace old `what is btcpay` with the new what is btcpay server video"
We have a better video that should replace the old one, or if we find a way to better present videos we can keep the old one as well.

![Screenshot 2022-04-23 at 17 30 26](https://user-images.githubusercontent.com/36959754/164912752-d59377e1-511a-4e5b-a266-d7e52b2d5980.png)

The new video https://youtu.be/XHj7EVUunJ4

[2022-04-24 10:19] ghost commented on #162
@pavlenex I can take this one as a first issue

[2022-04-24 16:23] plmdie commented on #162
I've added a pull request to your repository.

[2022-04-25 08:23] plmdie commented on #162
Hi, i can add the corrected Qr code to the SVG but i didn't found a QR Generator that makes a code exactly equal to the one in the image.

![image](https://user-images.githubusercontent.com/100805793/165049641-282580fa-d46a-4ac3-801b-a46aa28f8ada.png)

Is this good enough?

[2022-04-25 08:25] pavlenex commented on #162
Yes, it's good enough no worries😄

[2022-04-25 08:26] #162 closed, assigned to plmdie

[2022-04-25 08:26] pavlenex commented on #162
you're probably reffering to this issue #158

[2022-04-25 08:29] plmdie commented on #162
Yes, I'm in the wrong place, sorry.
I'll do it today.
Also unrelated, but i applied to the team of pt-pt and es-es to Transifex, but i was still not added.

[2022-04-25 17:43] plmdie commented on #158
On my way...

[2022-04-26 06:50] dennisreimann commented on #161
Done with #164.

[2022-04-26 06:56] #161 closed, assigned to Paul0908

[2022-04-26 06:58] dennisreimann commented on #114
Tested and can verify this is working.

[2022-04-26 06:58] #114 closed, assigned to nobody

[2022-04-26 08:15] #158 closed, assigned to plmdie

[2022-09-24 08:41] pavlenex opened #172 "Add link to Telegram in the footer"
As explained here https://github.com/btcpayserver/btcpayserver/issues/4158 we should add a link to our official telegram chat in the Footer.  https://t.me/btcpayserver

I also think we should rename chat to "Mattermost" or "Mattermost Chat"? But that can be done in a a different issue/pr.

[2022-09-24 08:51] pavlenex opened #173 "Redesign our donation process to include the ability for individuals to donate through OpenSats"
Good news. We can now accept donations from individuals and entities through OpenSats. With this in mind, we'd have to figure out a way to redesign our current flow.

This part in particular should now direct to OpenSats, but I think this entire flow can be improved.

Whoever would like to tackle this issue, let's first chat about it in our UX/UI channel on Mattermost chat.btccpayserver.org

[2022-09-25 08:33] sreejasaha19 commented on #172
Hey, I want to contribute to this issue. Can I work on this issue? If yes, could you please assign it to me.

[2022-09-25 09:09] pavlenex commented on #172
Sure @sreejasaha19 feel free to :)

[2022-09-25 13:09] vaibhavgarg237 commented on #172
I think it's already done by someone https://github.com/btcpayserver/btcpayserver/pull/4160

[2022-09-25 14:53] daviogg commented on #172
I already publish PR yesterday evening, I don't get if I need also to rename the Mattermost reference
![image](https://user-images.githubusercontent.com/33121159/192150065-bcf3beec-3729-48c6-a310-64100bc8d901.png)

[2022-09-25 16:00] pavlenex commented on #172
No this PR you referred to is for server itself, and this issue is for btcpayserver.org

[2022-09-25 16:03] vaibhavgarg237 commented on #172
oh yes, I just noticed

[2022-09-25 16:07] vaibhavgarg237 commented on #172
![image](https://user-images.githubusercontent.com/67408018/192153390-e226b76d-36ca-4079-9ed8-e2c72c9dfc57.png)
Here it's already written "Mattermost", where are you referring to "chat"?

[2022-11-23 21:09] #173 closed, assigned to nobody